<!--<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World Template</title>
</head>
<body>
    <P>{{ message }}</P>
</body>
</html>-->

{% extends 'home.html'>

{% block container %}

<h1>Sign up</h1>

<form method="POST" action="{%url 'user_register'%}">
    {% csrf_token %}
    User name:
    <br>
    <input name="username" type="text">
    <br>
    Password:
    <br>
    <input name="password1" type="password">
    <br>
    Confirm Password:
    <br>
    <input name="password2" type="password">
    <br><br>
    <input type="submit" name="submit"/>
</form>

{% endblock %}